body,
html {
    padding: 0;
    margin: 0 auto;
}

body {
    background: url('./../image/main_back.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.block_button{
    display: flex;
    align-items: center;
    justify-content: center;
}


.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.computer_step,
.new_game {
    color: #840707;
    cursor: pointer;
    padding: 15px 20px;
    text-transform: uppercase;
    width: 300px;
    text-decoration: none;
    text-align: center;
    margin: 20px;
    display: block;
    background-image: linear-gradient(to left, transparent, transparent 50%, rgb(189, 3, 3) 50%, rgb(131, 3, 3));
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: bold 18px tahoma;
    border: 1px solid #b71709;
}

.computer_step:hover,
.new_game:hover {
    background-position: 0 0;
    color: #fff;
}

.new_game--small_btn{
    width: 150px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.matches_block {
    width: 500px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.block{
    width: 15px;
    height: 85px;
    margin: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 15px;
    height: 85px;
    transition: .9s;
}

.match.active .body_math {
    max-height: 0px;
    box-shadow: 0px 0px 0px 0px transparent;
}

.match.active .head_match {
    max-height: 0px;
    box-shadow: 0px 0px 0px 0px transparent;
}

.match.active {
    max-height: 0px;
}

.head_match {
    width: 15px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgb(184, 3, 3), rgb(165, 46, 46));
    z-index: 1;
    box-shadow: 2px -1px 3px 2px rgb(59, 58, 58);
}

.body_math {
    width: 10px;
    height: 70px;
    background: linear-gradient(rgb(243, 163, 4), rgb(255, 179, 0));
    position: absolute;
    top: 15px;
    border-radius: 2px;
    box-shadow: 2px 2px 3px 2px rgb(59, 58, 58);
}

.match:hover {
    top: -2px;
    left: -3px;
}

.match:hover .body_math {
    width: 12px;
    height: 77px;
    transition: .2s;
}

.match:hover .head_match {
    width: 17px;
    height: 22px;
    transition: .2s;
}

.player,
.computer {
    text-align: center;
    width: 150px;
    position: relative;
    z-index: 2;
}

.player_back,
.computer_back {
    content: "";
    width: 150px;
    height: 120px;
    background: rgb(152, 150, 150);
    opacity: .5;
    position: absolute;
    left: 0;
    z-index: -1;
}

.player_back.active,
.computer_back.active{
    background: rgb(230, 211, 5);
}

.left_move{
    font-weight: bold;
}

.warning{
    color: rgb(227, 7, 7);
    font-weight: bold;
    visibility: hidden;
}

.warning::before{
    content: "";
    width: 150px;
    height: 40px;
    background: rgb(244, 241, 241);
    opacity: .5;
    position: absolute;
    left: 0;
    z-index: -1;
}

.warning.active{
    visibility: visible;
}

.modal_window, .modal_open {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    z-index: 2;
}

.modal_open{
    transform: scale(1);
}

.modal_open.active {
    transform: scale(0);
}

.modal_window.active {
    transform: scale(1);
}

.modal_content {
    width: 800px;
    height: 400px;
    background: white;
    border-radius: 20px;

    background: linear-gradient(to bottom, rgb(116, 3, 3), rgb(245, 138, 138));
    animation: gradient 5s ease infinite;
    background-size: 200% 200%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}

.winner{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.power{
    width: 50px;
    height: 80px;
    margin: 0 20px;
}

.lose{
    width: 80px;
}